@model IEnumerable<ClientWebApp_OpusXenta_Test_ChamaraD.Models.SecurityProfile_UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Assign User To Security Profile</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SecurityProfileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityProfileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityProfileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityProfileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
         
        </td>
    </tr>
}

</table>
